.header-container {
    background: #3699FF;
    height: 69px;
    color: white;
    font-family: Poppins;
    padding: 5px 1em;

    img.proj-logo-img {
        height: 49px;
        padding: 10px;
        margin-right: 7px;
    
    }

    .proj-name {
        font-size: 21px;
        font-weight: 600;
    }
}