.management-container {
    padding: 1em 5em;
    font-family: Poppins;

    .mgt-title { font-size: 20px;}
    .btn-action {
        min-width: 0;
        width: 37px;
        padding: 0;

        .action-icon { font-size: 21px !important; margin: auto}

    }
}

::ng-deep.mat-column-action {
    width: 136px;
}

.mr-3 { margin-right: 0.5em}