<h2 mat-dialog-title>{{data.actionType}} Product</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" fxLayout="column">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Details</mat-label>
          <textarea formControlName="details" matInput placeholder="Details"></textarea>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Price</mat-label>
          <input formControlName="price" matInput type="number" placeholder="Price">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Stock</mat-label>
          <input formControlName="stock" matInput type="number" placeholder="Stock">
        </mat-form-field>
    
      </form>
    
</mat-dialog-content>

<mat-dialog-actions fxLayout="row">
  <button (click)="save()" mat-flat-button color="primary">Save</button>
  <div fxFlex></div>
  <button (click)="close()" mat-flat-button >Cancel</button>
</mat-dialog-actions>